.scroll-bar {
    padding: 10px;
    height: 80vh;
    width: 45vw;
    border: 1px solid #d1d1d1;
    font-family: 'GestaRegular', Arial, Helvetica, sans-serif;
    overflow: auto;
    border-radius: 10px;
    background-color: #e8efff;
    position: relative;
}

.menu-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-menu {
    position: absolute;
    top: 40px;
    right: 10px;
    background: #efdddd;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.menu-item {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-item:hover {
    background-color: #f1f1f1;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #aaa1a1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.selection {
    font-weight: bolder;
}
.choose {
    /* background-color: #e5e8eb; */
    margin-top:20px;
    margin-bottom: 20px;
    list-style-type: none;
    color: rgb(0, 0, 0);
    font-size:larger;
}
.choose:hover {
    color:white;
    cursor: pointer;
}

.modal input[type="text"],
.modal textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal button:hover {
    background-color: #0056b3;
}
